/bin_x64
/appdata
*.sq_base
*.sq_levels
*.sq_meshes
*.sq_sounds
*.sq_textures
*.sqzy_patch
/sounds
fsgame.ltx
gamedata/scripts/kotovod/sivol_pda.script.bak
gamedata/scripts/vergas/vergas_flask.script.bak
all.spawn.improved_3.9.1_ogsr/unpacked/alife_l01_escape.ltx
